.container {
    display: flex;
    flex-direction: column;
    height: 100%
}

.github_calendar {
    background-color: #000;
    display: flex;
    justify-content: center;
    // align-items: center;
    color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    padding-left: 40px;
    flex-direction: column;

    &_title {
        margin-bottom: 14px;
        font-weight: 600;
        font-size: 18px;
        cursor: pointer;
    }
}

.three_container {
    flex: 1
}