.container {
    height: 100vh;
    // align-items: center;
    // position: relative;
    overflow-y: scroll;
    position: relative;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%
}

.model {
    height: 100vh;
    transition: opacity 0.5s;
    position: sticky;
    top: 0;
    background-image: url('./screen.png');
    background-repeat: no-repeat;
    background-size: cover;
    // background:
    // radial-gradient(circle at 32% 7%, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0) 26%),
    // radial-gradient(circle at 52% 9%, rgba(245, 247, 255, 0.52) 0%, rgba(245, 247, 255, 0) 22%),
    // linear-gradient(180deg, #1a2233 0%, #2c3650 30%, #ca9f7a 56%, #d4ccb5 60%, #0f1219 89%, #050608 100%);
}

.card_info_top{
  position: fixed;
  // border: 1px solid red;
  top: 18%;
  left: calc(50%);
  // z-index: 999;
  transform: translateX(-50%);
  font-size: 52px;
  // color: white;
  // width: calc(60% - 300px);
  text-align: center;
  line-height: 1.5;
  z-index: 999;
  font-weight: bold;
  letter-spacing: 8px;
  pointer-events: none;
}
.card_info_bottom{
  position: fixed;
  // border: 1px solid red;
  bottom: 18%;
  left: calc(50%);
  // z-index: 999;
  transform: translateX(-50%);
  font-size: 22px;
  // color: white;
  // width: calc(60% - 300px);
  text-align: center;
  line-height: 1.5;
  pointer-events: none;
}


.page2{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}