.reflect {
  opacity: 1;
  transition: all 1s;
  font-size: 40px;
  color: #FBFBFB;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 20%, rgba(255, 255, 255, .3));

  &_hide{
    transition: all 1s;
    opacity: 0;
    font-size: 40px;
    transform: translateY(80px);
  }
}