.container {
    height: 100%;
    align-items: center;
    position: relative;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%
}

.select{
  position: absolute;
  top: 10px;
  left: 10px
}

.model {
    height: 100%;
    transition: opacity 0.5s;
}