.container {
    height: 100vh;
    // align-items: center;
    // position: relative;
    overflow-y: scroll;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%
}

.model {
    height: 100vh;
    transition: opacity 0.5s;
    position: sticky;
    top: 0
}

.page2{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}