// $card-height: 190px;
// $card-width: 320px;
// $card-gap: 30px;
// $card-botomm: 30px;
$card-height: 19vh;
$card-width: $card-height * 1.6;
$card-gap: 3vh;
$card-botomm: 3vh;

.layout{
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0
}

.container {
  transform-style: preserve-3d;
  // -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  // -webkit-perspective: 10px;
  perspective: 4000px;
  color: #fff;
  position: absolute;
  bottom: 0;

  & > div {
    position: absolute;
    // left: 0;
    // top:0;
    width: $card-width;
    height: $card-height;
    // border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    // transform: translate();
  }
  

  @for $i from 1 through 4 {
    & > div:nth-child(#{1 + 4 - $i}) {
      left: 16px;
      // display: none;
      opacity: 0;
      bottom: ($i - 1) *  ($card-height + $card-gap) + $card-botomm;
      -webkit-transform: rotateY(20deg);
      transform: rotateY(20deg);
      animation-duration: 2.4s - $i * 0.2;
      // animation-timing-function: ease-in-out;
    }
  }

  @for $i from 5 through 8 {
    & > div:nth-child(#{5 + 8 - $i}) {
      right: 16px;
      opacity: 0;
      bottom: ($i - 5) * ($card-height + $card-gap) + $card-botomm;
      -webkit-transform: rotateY(-20deg);
      transform: rotateY(-20deg);
      animation-duration: 2.4s - ($i - 4) * 0.2;
      // animation-timing-function: ease-in-out;
    }
  }
}

@keyframes slidenLeft {
  from { transform: rotateY(20deg) translateX(-$card-width); opacity: 0 }
  to { transform: rotateY(20deg) translateX(0px); opacity: 1}
}
@keyframes slidenRight {
  from { transform: rotateY(-20deg) translateX($card-width); opacity: 0;}
  to { transform: rotateY(-20deg) translateX(0px); opacity: 1}
}

.begin {
  @for $i from 1 through 4 {
    & > div:nth-child(#{$i}) {
      display: flex;
      animation-name: slidenLeft;
      opacity: 1;
    }
  }

  @for $i from 5 through 8 {
    & > div:nth-child(#{$i}) {
      // right: 16px;
      display: flex;
      opacity: 1;
      animation-name: slidenRight;
    }
  }
}
